@model ESW_Shelter.Models.Donation

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Donation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnimalTypeFK" class="control-label"></label>
                <input asp-for="AnimalTypeFK" class="form-control" />
                <span asp-validation-for="AnimalTypeFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductTypeFK" class="control-label"></label>
                <input asp-for="ProductTypeFK" class="form-control" />
                <span asp-validation-for="ProductTypeFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserIDFK" class="control-label"></label>
                <input asp-for="UserIDFK" class="form-control" />
                <span asp-validation-for="UserIDFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
