@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    var plans = ViewData["plans"] as Stripe.Plan[];

}

<div class="row donations">
    <h2>Doações:</h2>
    <div class="col-md-6 donations-data">
        <p>
            Traga aos nossos patudos comida, brinquedos ou mantas ou opte por ser associado da Associação dos Amigos dos Animais Abandonados da Moita:
        </p>
        <h4>Planos de Associado:</h4>
        <ul>
            @for (var i = 0; i < plans.Length; i++)
            {
                double value = Math.Truncate((double) plans[i].Amount) / 100;
                <li>@plans[@i].Nickname - @value.ToString("0.00")€</li>
            }
        </ul>
        <div class="button-wrapper">
            <a asp-controller="Donation" asp-action="Create"><div class="btn btn-primary button-image">Aderir a plano</div></a>
        </div>
    </div>
    <div class="col-md-6">
        <img src="~/images/dog_food.png">
    </div>
</div>