
@model List<SimpleReportViewModel>
@{
    var XLabels = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(x => x.DimensionOne).ToList());
    var YValues = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(x => x.Quantity).ToList());
    ViewData["Title"] = "Estatisticas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string typeOfChart = ViewBag.typeOfChart;
    string labelToUse = ViewBag.labelToUse;
}

<div class="row">
    <div class="col-lg-2">
        <ul>
            <li class="nav-item">Animais Sem Donos</li>
            <ul>
                <li class="nav-item"><a class="nav-item nav-link active" asp-area="" asp-controller="Statistics" asp-action="Index" asp-route-graf="0" asp-route-statistic="0">Gráfico Barras</a></li>
                <li class="nav-item"><a class="nav-item nav-link active" asp-area="" asp-controller="Statistics" asp-action="Index" asp-route-graf="1" asp-route-statistic="0">Gráfico Circular</a></li>
            </ul>
            <li class="nav-item">Animais Sem Padrinhos</li>
            <ul>
                <li class="nav-item"><a class="nav-item nav-link active" asp-area="" asp-controller="Statistics" asp-action="Index" asp-route-graf="0" asp-route-statistic="1">Gráfico Barras</a></li>
                <li class="nav-item"><a class="nav-item nav-link active" asp-area="" asp-controller="Statistics" asp-action="Index" asp-route-graf="1" asp-route-statistic="1">Gráfico Circular</a></li>
            </ul>
            <li class="nav-item">Animais Com Necessidades Especiais</li>
            <ul>
                <li class="nav-item"><a class="nav-item nav-link active" asp-area="" asp-controller="Statistics" asp-action="Index" asp-route-graf="0" asp-route-statistic="2">Gráfico Barras</a></li>
                <li class="nav-item"><a class="nav-item nav-link active" asp-area="" asp-controller="Statistics" asp-action="Index" asp-route-graf="1" asp-route-statistic="2">Gráfico Circular</a></li>
            </ul>
            <li class="nav-item"><a class="nav-item nav-link active" asp-area="" asp-controller="Statistics" asp-action="Index" asp-route-graf="2" asp-route-statistic="3">Logins Efetuados Por Dia</a></li>
            <li class="nav-item"><a class="nav-item nav-link active" asp-area="" asp-controller="Statistics" asp-action="Index" asp-route-graf="2" asp-route-statistic="5">Doações Efetuados Por Dia</a></li>
            <li class="nav-item"><a class="nav-item nav-link active" asp-area="" asp-controller="Statistics" asp-action="IndexStacked" asp-route-statistic="0">Produtos Mais Doados Por Dia</a></li>
            <li class="nav-item"><a class="nav-item nav-link active" asp-area="" asp-controller="Statistics" asp-action="Index" asp-route-graf="2" asp-route-statistic="7">Doações Efetuados Por Dia</a></li>
            <li class="nav-item">Quantidade do Stock de Produtos Existentes [Para semana e Mês]</li>
            <ul>
                <li class="nav-item"><a class="nav-item nav-link active" asp-area="" asp-controller="Statistics" asp-action="Index" asp-route-graf="0" asp-route-statistic="8">Gráfico Barras</a></li>
                <li class="nav-item"><a class="nav-item nav-link active" asp-area="" asp-controller="Statistics" asp-action="Index" asp-route-graf="1" asp-route-statistic="8">Gráfico Circular</a></li>
            </ul>
        </ul>
    </div>
    <div class="col-lg-6">
        <div class="chart-container">
            <canvas id="chart" style="width:100%; height:500px"></canvas>
        </div>
    </div>
</div>
<script type="text/javascript">

            $(function () {
        var chartName = "chart";
            var ctx = document.getElementById(chartName).getContext('2d');
            var data = {
                    labels: @Html.Raw(XLabels),
                    datasets: [{
                        label: "@labelToUse",
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(255, 0, 0)',
                            'rgba(0, 255, 0)',
                            'rgba(0, 0, 255)',
                            'rgba(192, 192, 192)',
                            'rgba(255, 255, 0)',
                            'rgba(255, 0, 255)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(255, 0, 0)',
                            'rgba(0, 255, 0)',
                            'rgba(0, 0, 255)',
                            'rgba(192, 192, 192)',
                            'rgba(255, 255, 0)',
                            'rgba(255, 0, 255)'
                        ],
                        borderWidth: 1,
                        data: @Html.Raw(YValues)
        }]
                };

    var options = {
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                min: 0,
                                beginAtZero: true
                            },
                            gridLines: {
                                display: true,
                                color: "rgba(255,99,164,0.2)"
                            }
    }],
                        xAxes: [{
                            ticks: {
                                min: 0,
                                beginAtZero: true
                            },
                            gridLines: {
                                display: false
                            }
                        }]
                    }
                };

           var myChart = new  Chart(ctx, {
                    options: options,
                    data: data,
                    type: '@typeOfChart'

                });
            });
</script>
