@{
    ViewData["Title"] = "A nossa história";
}

<div class="row about">
    <div class="col-md-2">
        <h2>@ViewData["Title"]</h2>
        A AAAAMoita (Associação dos Amigos dos Animais Abandonados da Moita) é uma associação sem fins lucrativos de protecção animal que alberga e protege cerca de 250 animais, entre cães e gatos. Este projecto assenta principalmente no trabalho voluntário e na ajuda e solidariedade de boa gente amiga dos animais, os quais constituem pilares fundamentais e sem os quais não nos seria possível continuar esta luta.
        <br /><br />
        <strong>NIB:</strong> 0033 0000 00284443383 05
        <br />
        <strong>IBAN:</strong> PT50 - 0033-0000-00284443383-05
        <br />
        <strong>BIC/SWIFT:</strong> BCOMPTPL
        <br />
        <strong>PONTOS DE RECOLHA DE DONATIVOS:</strong><br />
        - Clínica veterinária BBVET na Baixa da Banheira (Rua 26 de Janeiro, nº66, Baixa da Banheira)<br />
        - União Banheirense<br />
        - Loja de animais "PATINHAS MIMADAS" na Baixa da Banheira (Rua Agostinho Neto, lote 4, loja 4 - Urb. Quinta do Facho - Baixa da Banheira)
    </div>
    <div class="col-md-2 picture">
        <img class="cat" src="~/images/cat.jpg" />
    </div>
</div>