@{
    ViewData["Title"] = "A.A.A.A. Moita";
    ViewData["Name"] = "Associação dos Amigos dos Animais Abandonados da Moita";
}

<div class="row contacts">
    <div class="col-md-2 map-wrapper">
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3115.669559526901!2d-9.029608284656721!3d38.65647767960852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1937ec5aabff0d%3A0x7d1a531820b53761!2sAAAAMoita+-+Associa%C3%A7%C3%A3o+dos+Amigos+dos+Animais+Abandonados+da+Moita!5e0!3m2!1spt-PT!2spt!4v1544327476923" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-2 contact-data">
        <h3>@ViewData["Title"]</h3>
        <h4>@ViewData["Name"]</h4>
        <address>
            Rua Cândido dos Reis, 2860-048 Alhos Vedros<br /><br />
            <strong>Contacto:</strong> 913 124 611
        </address>
            <strong>Horário:</strong>            <br />
            Domingo	10:00–13:00<br />
            Segunda-feira	10:00–13:00<br />
            Terça-feira	10:00–13:00<br />
            Quarta-feira	10:00–13:00<br />
            Quinta-feira	10:00–13:00<br />
            Sexta-feira	10:00–13:00<br />
            Sábado	10:00–13:00<br />
    </div>
</div>