@{
    ViewData["Title"] = "Management";
    Layout = "~/Views/Shared/_BackLayout.cshtml";
}
<h1> Bem-vindo a área de Administração </h1>
<hr />
<h2> Algumas regras a tomar em consideração </h2>
<h3> 1) Ao criar Animais: </h3>
<p>- Têm de ter Raças de Animais e Tipos de Animais antes de criar um animal!</p>
<h3> 2) Ao criar Produtos: </h3>
<p>- Têm de ter Tipos de Animais e Tipos de Produtos antes de criar um animal!</p>
<h3> 4) Pode criar Donativos sêm produtos.</h3>
<h3> 5) Ao criar Donativos com produtos, a quantidade inserida é incrementada nos Produtos.</h3>
<h3> 6) Pode criar Animais sem Padrinhos e Produtos de necessidades especiais.</h3>
