@model IEnumerable<ESW_Shelter.Models.AnimalType>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_BackLayout.cshtml";
    IQueryable<RoleAuthorization> getPermissions = ViewBag.Permission;
}

<h2>
    Tipos de Animais - @if (getPermissions.Where(e => e.ComponentFK == 6 && e.Create == true).Any())
    {
            <a asp-action="Create">Criar um novo tipo de animal</a>
    }
</h2>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (getPermissions.Where(e => e.ComponentFK == 6 && e.Update == true).Any())
                    {
                        <a asp-action="Edit" asp-route-id="@item.AnimalTypeID">Editar </a>
                    }
                    @if (getPermissions.Where(e => e.ComponentFK == 6 && e.Delete == true).Any())
                    {
                        <a asp-action="Delete" asp-route-id="@item.AnimalTypeID"> Eliminar</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
