<ul>
    <li class="nav-item">Animais Sem Donos</li>
    <ul>
        <li class="nav-item"><a class="nav-item nav-link active" asp-area="" asp-controller="Statistics" asp-action="Index" asp-route-graf="0" asp-route-statistic="0">Gráfico Barras</a></li>
        <li class="nav-item"><a class="nav-item nav-link active" asp-area="" asp-controller="Statistics" asp-action="Index" asp-route-graf="1" asp-route-statistic="0">Gráfico Circular</a></li>
    </ul>
    <li class="nav-item">Animais Sem Padrinhos</li>
    <ul>
        <li class="nav-item"><a class="nav-item nav-link active" asp-area="" asp-controller="Statistics" asp-action="Index" asp-route-graf="0" asp-route-statistic="1">Gráfico Barras</a></li>
        <li class="nav-item"><a class="nav-item nav-link active" asp-area="" asp-controller="Statistics" asp-action="Index" asp-route-graf="1" asp-route-statistic="1">Gráfico Circular</a></li>
    </ul>
    <li class="nav-item">Animais Com Necessidades Especiais</li>
    <ul>
        <li class="nav-item"><a class="nav-item nav-link active" asp-area="" asp-controller="Statistics" asp-action="Index" asp-route-graf="0" asp-route-statistic="2">Gráfico Barras</a></li>
        <li class="nav-item"><a class="nav-item nav-link active" asp-area="" asp-controller="Statistics" asp-action="Index" asp-route-graf="1" asp-route-statistic="2">Gráfico Circular</a></li>
    </ul>
    <li class="nav-item"><a class="nav-item nav-link active" asp-area="" asp-controller="Statistics" asp-action="Index" asp-route-graf="2" asp-route-statistic="3">Logins Efetuados Por Dia</a></li>
    <li class="nav-item"><a class="nav-item nav-link active" asp-area="" asp-controller="Statistics" asp-action="Index" asp-route-graf="2" asp-route-statistic="5">Doações Efetuados Por Dia</a></li>
</ul>