@model ESW_Shelter.Models.Roles

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_BackLayout.cshtml";
}

<h2>Eliminar - @Model.RoleName</h2>

<h3>Têm a certeza que quer elminar @Model.RoleName? Após a eliminação, todos os utilizadores com esta permissão passam a ser Clientes normais (Permissão: Client)! </h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RoleID" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">Voltar atrás</a>
    </form>
</div>
